{% extends "base.html" %}
{% load static %}
{% block content %}

      <div class="container pt-1">
        
        <div class="card mx-auto " style="width: 18rem;">

            <img src="{{employee.photo.url}}" class="border border-dark card-img-top" alt="Employee Photo">
            
            <div class="card-body border border-dark">
              <tr>
              <p class="card-text fw-bold shadow-lg p-1 ">Nome: {{employee.first_name}} {{employee.last_name}} </p>
              <p class="card-text fw-bold shadow-lg p-1 ">Reds: {{employee.reds}} </p>
              <p class="card-text fw-bold shadow-lg p-1 ">Endereço: {{ employee.adress }}</p>
              
              </tr>
            </div>
            <a href="{% url 'home'%}" class="btn btn-dark">Voltar</a>
        </div>
          
      </div>

{% endblock content %}